[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
	branch = master
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
	branch = master
[submodule ".vim/vim-snippets"]
	path = .vim/vim-snippets
	url = https://github.com/honza/vim-snippets.git
	branch = master
[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = https://github.com/fatih/molokai
	branch = master
[submodule ".bash-git-prompt"]
	path = .bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
	branch = master
[submodule ".git-cd"]
	path = .git-cd
	url = https://github.com/tschottdorf/git-cd.git
	branch = master
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule ".vim/bundle/vim-clojure-static"]
	path = .vim/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static
[submodule ".vim/bundle/vim-fireplace"]
	path = .vim/bundle/vim-fireplace
	url = git://github.com/tpope/vim-fireplace.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/bundle/vim-capnp"]
	path = .vim/bundle/vim-capnp
	url = https://github.com/cstrahan/vim-capnp
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/bundle/ag.vim"]
	path = .vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
