[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
[submodule ".vim/vim-snippets"]
	path = .vim/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = https://github.com/fatih/molokai
[submodule ".bash-git-prompt"]
	path = .bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
