[user]
  email = tobias.schottdorf@gmail.com
  name = Tobias Schottdorf
[push]
  default = simple
[color]
  ui = true
[core]
  editor = nvim
  excludesfile = /Users/tschottdorf/.gitignore_global
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  ca = commit --amend --no-edit --reset-author
  rbo = rebase origin/master
  rbi = rebase -i origin/master
  rbc = rebase --continue
  hr = reset --hard
  pr = pull --rebase
  smu = submodule update --init --recursive
  aa = add -A
  wc = whatchanged
  fap = fetch --all --prune
  du = diff --name-only --diff-filter=M

[branch]
  autosetuprebase = always
